**/Debug
*.log
*.tlog
*.vs

**/v16
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

.vs/sdltest/v16/.suo
.vs/sdltest/v16/Browse.VC.db
.vs/sdltest/v16/ipch/AutoPCH/bd8728f735077384/RENDERWINDOW.ipch
.vs/sdltest/v16/ipch/AutoPCH/e7a9d710094dbc0b/ENTITY.ipch
sdltest/sdltest.vcxproj
sdltest/sdltest.vcxproj.filters
sdltest/x64/Debug/RenderWindow.obj
sdltest/x64/Debug/main.obj
sdltest/x64/Debug/sdltest.log
sdltest/x64/Debug/sdltest.tlog/CL.command.1.tlog
sdltest/x64/Debug/sdltest.tlog/CL.read.1.tlog
sdltest/x64/Debug/sdltest.tlog/CL.write.1.tlog
sdltest/x64/Debug/sdltest.tlog/link.command.1.tlog
sdltest/x64/Debug/sdltest.tlog/link.read.1.tlog
sdltest/x64/Debug/sdltest.tlog/link.write.1.tlog
sdltest/x64/Debug/vc142.idb
sdltest/x64/Debug/vc142.pdb
x64/Debug/sdltest.exe
x64/Debug/sdltest.ilk
x64/Debug/sdltest.pdb